#good-photo-list img {
	width: 100%;
	margin: 5px 0;
}

#good-info {
	margin-top: 30px;
}

#good-gname {
	margin-bottom: 10px;
}

#good-descriptor {
	background-color: rgba(255,255,255,0);
    border: none;
    font-size: 16px;
    padding: 0;
}

#buy-good-count {
	padding: 0 10px;
}

#good-photo-list img {
	width: 100%;
}

#good-photo-list .carousel-indicators li {
	width: 52px;
    height: 39px;
    background-size: cover;
}

#good-photo-list .carousel-indicators .active {
	margin-bottom: 5px;
}

#good-photo-list .carousel-control {
	height: 98%;
	top: 5px;	
}

#good-comment .panel-heading h2 {
	font-size: 25px;
	text-align: center;
}

#good-comment-list .good-comment-list-template p,
#good-comment-list .good-comment-list-template hr  {
	margin: 3px;
}