.news hr {
	border-top: 1px solid #C3C3C3;
}

#type-list .heading h3 {
	min-height: 54px;
}

#type-list .heading a {
	line-height: 54px;
}

#type-list .icon-img {
	max-height: 54px;
}

#search {
	position: relative;
	top: -150px;
}

.carousel-inner .item img {	
	min-height: 200px;
}